.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 1200px;
  margin: 30px auto;
  padding: 0 30px;
}

.wrapper {
  margin-bottom: 10px;
  padding: 32px;
  border-radius: 4px;
}

.title {
  margin-bottom: 20px;
}

.selects {
  display: flex;
  gap: 15px;
  justify-content: start;
  margin: 50px 0;

  @media (width <= 500px) {
    flex-direction: column;
    gap: 30px;
  }
}

.typeHouse {
  width: 100px;
}
