.wrapper {
  max-width: 420px;
  margin: 36px auto;
  padding: 33px;
}

.textfields {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.title {
  margin-bottom: 27px;
  text-align: center;
}

.description {
  margin: 0 0 65px;
  color: var(--color-light-900);
  opacity: 0.5;
}

.button {
  margin-bottom: 30px;
}

.caption {
  margin: 0;
  text-align: center;
}

.trylogging {
  display: flex;
  justify-content: center;

  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
  color: var(--color-accent-500) !important;

  &:hover {
    text-decoration: none;
  }
}
